@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px; }

ul {
  list-style-type: none; }

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #E1DEE4; }

h2 {
  text-align: center;
  color: #E1DEE4; }

.populares {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 25% 283px 283px 25% 2fr;
  grid-template-rows: 100px 283px 283px 50px;
  grid-template-areas: "a c c c c b" "a n d e h b" "a n f g h b "; }
  .populares .productospopulares {
    grid-area: c; }
  .populares .productospopulares1 {
    grid-area: d; }
  .populares .productospopulares2 {
    grid-area: e; }
  .populares .productospopulares3 {
    grid-area: f; }
  .populares .productospopulares4 {
    grid-area: g; }

h3 {
  color: #E1DEE4; }

p {
  color: white; }

.nav {
  margin: 0px;
  text-align: right; }

.divtoplogo {
  display: flex;
  align-items: center; }

main {
  background-color: blue; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 150px; }
  footer .navbottom {
    text-align: right; }
    footer .navbottom li:hover {
      color: red; }
  footer li {
    color: white;
    width: auto;
    margin: 0px; }
  footer .UlContactoFooter {
    padding: 0%; }

.ulbottom {
  display: inline-block;
  height: 100%; }

h4 {
  color: #E1DEE4; }

.divbottom {
  text-align: center; }

.divtop {
  height: 190px; }

.logo {
  width: 210px; }

.divbottomlogo {
  display: flex;
  align-items: center; }

.sectionsobrenosotros {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 400px 400px 1fr;
  grid-template-rows: 50px 300px 300px 50px;
  grid-template-areas: "a c c b" "a d e b" "a f g b"; }
  .sectionsobrenosotros .h1sobrenosotros {
    grid-area: c; }
  .sectionsobrenosotros .psobrenosotros1 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: d; }
  .sectionsobrenosotros .psobrenosotros2 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: f; }
  .sectionsobrenosotros .psobrenosotros3 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: e; }
  .sectionsobrenosotros .psobrenosotros4 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: g; }

.sectionproductos {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 283px 283px 283px 283px 1fr;
  grid-template-rows: 80px 283px 283px 150px;
  grid-template-areas: "a c c c c b" "a d e f g b" "a h i j k b "; }
  .sectionproductos .productosimg {
    grid-area: c;
    padding-bottom: 20px; }
  .sectionproductos .imgproductos1 {
    grid-area: d; }
  .sectionproductos .imgproductos2 {
    grid-area: e; }
  .sectionproductos .imgproductos3 {
    grid-area: f; }
  .sectionproductos .imgproductos4 {
    grid-area: g; }
  .sectionproductos .imgproductos5 {
    grid-area: h; }
  .sectionproductos .imgproductos6 {
    grid-area: i; }
  .sectionproductos .imgproductos7 {
    grid-area: j; }
  .sectionproductos .imgproductos8 {
    grid-area: k; }

h3 {
  font-family: 'Ubuntu', sans-serif; }

.sectioncontacto {
  display: grid;
  align-items: baseline;
  grid-template-columns: 3fr 450px 3fr;
  grid-template-rows: 500px 140px 500px;
  grid-template-areas: "a c b" "a d b"; }
  .sectioncontacto .h1contacto {
    grid-area: c; }
  .sectioncontacto .articlecontacto {
    grid-area: d; }
  .sectioncontacto input {
    width: 100%;
    margin: 2px; }

.PreguntasExtend, .preguntasfrecuentes {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  grid-template-areas: "a" "b" "c" "d" "e" "f" "g"; }

.preguntasfrecuentes {
  grid-template-rows: 60px 70px 70px 70px 70px 70px 70px 70px;
  row-gap: 40px; }

.quienessomos {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 283px 283px 283px 283px 2fr;
  grid-template-rows: 100px 150px 283px 50px;
  grid-template-areas: "a c c c c b" "a m d d l b" "a e f g h b "; }
  .quienessomos .quienessomos0 {
    grid-area: c; }
  .quienessomos .quienessomos1 {
    grid-area: d; }
  .quienessomos .quienessomos2 {
    grid-area: e; }
  .quienessomos .quienessomos3 {
    grid-area: f; }
  .quienessomos .quienessomos4 {
    grid-area: g; }
  .quienessomos .quienessomos5 {
    grid-area: h; }

/* tablet en horizontal */
@media only screen and (max-width: 1400px) {
  .quienessomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 100px 150px 283px 283px 50px;
    grid-template-areas: "a c c b" "a d d b" "a e f b " "a g h b"; }
  img {
    width: 100%; }
  .populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 100px 283px 283px 50px;
    grid-template-areas: "a c c b" "a d d b" "a e f b " "a g h b"; }
  .navbottom {
    height: 140; }
  .navbottom {
    display: none; }
  .sectionproductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 100px 283px 1fr;
    grid-template-rows: 80px 283px 283px 283px 283px 100px;
    grid-template-areas: "a c c c b" "a d m e b" "a f m g b" "a h m i b" "a j m k b "; }
  .sectionsobrenosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 370px 370px 1fr;
    grid-template-rows: 150px 220px 200px 80px;
    grid-template-areas: "a c c b" "a d e b" "a f g b"; }
  .sectioncontacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 2fr 400px 2fr;
    grid-template-rows: 450px 140px 450px;
    grid-template-areas: "a c b" "a d b"; }
  .preguntasfrecuentes {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    grid-template-rows: 60px 70px 70px 70px 70px 70px 70px 70px;
    row-gap: 25px; } }

/* celular en horizontal y tablet en vertical */
@media only screen and (max-width: 950px) {
  .quienessomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 100px 150px 283px 283px 50px;
    grid-template-areas: "a c c b" "a d d b" "a e f b " "a g h b"; }
  img {
    width: 100%; }
  .populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 100px 283px 283px 283px 283px 50px;
    grid-template-areas: "a c b" "a d b" "a e b " "a f b " "a g b "; }
  .navbottom {
    height: 140; }
  .navbottom {
    display: none; }
  .sectionproductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 80px 283px 283px 283px 283px 100px;
    grid-template-areas: "a c c b" "a d e b" "a f g b" "a h i b" " a j k b "; }
  .sectionsobrenosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 300px 300px 1fr;
    grid-template-rows: 150px 220px 200px 80px;
    grid-template-areas: "a c c b" "a d e b" "a f g b"; }
  .sectioncontacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 2fr 350px 2fr;
    grid-template-rows: 450px 140px 450px;
    grid-template-areas: "a c b" "a d b"; }
  .preguntasfrecuentes {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    grid-template-rows: 60px 75px 75px 75px 75px 75px 75px 75px;
    row-gap: 10px; } }

/* este es el media para la pantalla de celular use 600px */
@media only screen and (max-width: 600px) {
  .divtoplogo {
    width: 140px; }
  .logo {
    width: 80px; }
  .quienessomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 200px 200px 1fr;
    grid-template-rows: 100px 150px 200px 200px 50px;
    grid-template-areas: "a c c b" "a d d b" "a e f b " "a g h b"; }
  img {
    width: 100%; }
  .quienessomos2 {
    width: 200px;
    height: 200px; }
  .quienessomos3 {
    width: 200px;
    height: 200px; }
  .quienessomos4 {
    width: 200px;
    height: 200px; }
  .quienessomos5 {
    width: 200px;
    height: 200px; }
  .populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 100px 283px 283px 283px 283px 50px;
    grid-template-areas: "a c b" "a d b" "a e b " "a f b " "a g b "; }
  .navbottom {
    height: 140; }
  .navbottom {
    display: none; }
  .sectionproductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 200px 200px 1fr;
    grid-template-rows: 80px 200px 200px 200px 200px 100px;
    grid-template-areas: "a c c b" "a d e b" "a f g b" "a h i b" " a j k b "; }
  .imgproductos1 {
    width: 200px;
    height: 200px; }
  .imgproductos2 {
    width: 200px;
    height: 200px; }
  .imgproductos3 {
    width: 200px;
    height: 200px; }
  .imgproductos4 {
    width: 200px;
    height: 200px; }
  .imgproductos5 {
    width: 200px;
    height: 200px; }
  .imgproductos6 {
    width: 200px;
    height: 200px; }
  .imgproductos7 {
    width: 200px;
    height: 200px; }
  .imgproductos8 {
    width: 200px;
    height: 200px; }
  .sectionsobrenosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 100px 220px 100px 150px 200px 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b";
    row-gap: 5px; }
  .sectioncontacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 450px 140px 450px;
    grid-template-areas: "a c b" "a d b"; }
  .preguntasfrecuentes {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    grid-template-rows: 60px 85px 85px 95px 95px 85px 85px 85px;
    row-gap: 5px; } }

/* este es el media para los telefonos mas chiquitos menos de 420px */
@media only screen and (max-width: 420px) {
  .nav {
    margin: 0px;
    text-align: center; }
  .quienessomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 170px 170px 1fr;
    grid-template-rows: 100px 150px 170px 170px 50px;
    grid-template-areas: "a c c b" "a d d b" "a e f b" "a g h b"; }
  .quienessomos2 {
    width: 170px;
    height: 170px; }
  .quienessomos3 {
    width: 170px;
    height: 170px; }
  .quienessomos4 {
    width: 170px;
    height: 170px; }
  .quienessomos5 {
    width: 170px;
    height: 170px; }
  img {
    width: 100%; }
  .populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 100px 283px 283px 283px 283px 50px;
    grid-template-areas: "a c b" "a d b" "a e b " "a f b " "a g b "; }
  .navbottom {
    height: 140; }
  .navbottom {
    display: none; }
  .sectionproductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 180px 180px 1fr;
    grid-template-rows: 80px 180px 180px 180px 180px 100px;
    grid-template-areas: "a c c b" "a d e b" "a f g b" "a h i b" " a j k b "; }
  .imgproductos1 {
    width: 180px;
    height: 180px; }
  .imgproductos2 {
    width: 180px;
    height: 180px; }
  .imgproductos3 {
    width: 180px;
    height: 180px; }
  .imgproductos4 {
    width: 180px;
    height: 180px; }
  .imgproductos5 {
    width: 180px;
    height: 180px; }
  .imgproductos6 {
    width: 180px;
    height: 180px; }
  .imgproductos7 {
    width: 180px;
    height: 180px; }
  .imgproductos8 {
    width: 180px;
    height: 180px; }
  .sectionsobrenosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 100px 220px 100px 150px 200px 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b";
    row-gap: 8px; }
  .sectioncontacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 400px 140px 400px;
    grid-template-areas: "a c b" "a d b"; }
  .preguntasfrecuentes {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    grid-template-rows: 60px 110px 110px 110px 110px 110px 110px 110px;
    row-gap: 0px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end; } }
