@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px; }

ul {
  list-style-type: none; }

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 20px; }

h2 {
  text-align: center;
  color: white; }

.nav-item:hover {
  background-color: red; }

.Populares {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 25% 283px 283px 25% 2fr;
  grid-template-rows: 100px 283px 283px 50px;
  grid-template-areas: "a c c c c b" "a n d e h b" "a n f g h b";
  row-gap: 5px;
  column-gap: 5px; }
  .Populares .ProductosPopulares {
    grid-area: c; }
  .Populares .ProductosPopulares1 {
    grid-area: d; }
  .Populares .ProductosPopulares2 {
    grid-area: e; }
  .Populares .ProductosPopulares3 {
    grid-area: f; }
  .Populares .ProductosPopulares4 {
    grid-area: g; }

h3 {
  color: white; }

p {
  color: white; }

.DivTopLogo {
  display: flex;
  align-items: center; }

main {
  background-image: url(../imagenes/fondo2.jpg);
  background-size: 100%; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 150px; }
  footer .NavBottom {
    text-align: right; }
    footer .NavBottom li:hover {
      color: red; }
  footer li {
    color: white;
    width: auto;
    margin: 0px; }
  footer .UlContactoFooter {
    padding: 0%; }

.UlBottom {
  display: inline-block;
  height: 100%; }

h4 {
  color: white; }

.DivBottom {
  text-align: center; }

.Logo {
  width: 210px; }

.DivBottomLogo {
  display: flex;
  align-items: center; }

.SectionSobreNosotros {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 50px auto auto auto auto 50px;
  grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b";
  row-gap: 10px; }
  .SectionSobreNosotros .h1SobreNosotros {
    grid-area: c; }
  .SectionSobreNosotros .PSobreNosotros1 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: d; }
  .SectionSobreNosotros .PSobreNosotros2 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: f; }
  .SectionSobreNosotros .PSobreNosotros3 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: e; }
  .SectionSobreNosotros .PSobreNosotros4 {
    font-family: 'Ubuntu', sans-serif;
    grid-area: g; }

.SectionProductos {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 283px 283px 283px 283px 1fr;
  grid-template-rows: 80px 283px 283px 150px;
  grid-template-areas: "a c c c c b" "a d e f g b" "a h i j k b ";
  row-gap: 5px;
  column-gap: 5px; }
  .SectionProductos .ProductosImg {
    grid-area: c;
    padding-bottom: 20px; }
  .SectionProductos .ImgProductos1 {
    grid-area: d; }
  .SectionProductos .ImgProductos2 {
    grid-area: e; }
  .SectionProductos .ImgProductos3 {
    grid-area: f; }
  .SectionProductos .ImgProductos4 {
    grid-area: g; }
  .SectionProductos .ImgProductos5 {
    grid-area: h; }
  .SectionProductos .ImgProductos6 {
    grid-area: i; }
  .SectionProductos .ImgProductos7 {
    grid-area: j; }
  .SectionProductos .ImgProductos8 {
    grid-area: k; }

h3 {
  font-family: 'Ubuntu', sans-serif; }

.SectionContacto {
  display: grid;
  align-items: baseline;
  grid-template-columns: 3fr 450px 3fr;
  grid-template-rows: 500px 140px 500px;
  grid-template-areas: "a c b" "a d b"; }
  .SectionContacto .h1Contacto {
    grid-area: c; }
  .SectionContacto .ArticleContacto {
    grid-area: d; }
  .SectionContacto input {
    width: 100%;
    margin: 2px; }

.PreguntasFrecuentes {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 60px 70px 70px 70px 70px 70px 70px 70px;
  grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
  row-gap: 40px;
  text-align: center; }

.QuienesSomos {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 283px 283px 283px 283px 2fr;
  grid-template-rows: 100px 100px 150px 283px 50px;
  grid-template-areas: "a m m m m b" "a c c c c b" "a r d d l b" "a e f g h b ";
  row-gap: 5px;
  column-gap: 5px; }
  .QuienesSomos .Bienvenido {
    grid-area: m; }
  .QuienesSomos .QuienesSomos0 {
    grid-area: c; }
  .QuienesSomos .QuienesSomos1 {
    grid-area: d; }
  .QuienesSomos .QuienesSomos2 {
    grid-area: e; }
  .QuienesSomos .QuienesSomos3 {
    grid-area: f; }
  .QuienesSomos .QuienesSomos4 {
    grid-area: g; }
  .QuienesSomos .QuienesSomos5 {
    grid-area: h; }

/* tablet en horizontal */
@media only screen and (max-width: 1400px) {
  .QuienesSomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 100px 100px 150px 283px 283px 50px;
    grid-template-areas: "a m m b" "a c c b" "a d d b" "a e f b " "a g h b"; }
  img {
    width: 100%;
    height: 100%; }
  .Populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 100px 283px 283px 50px;
    grid-template-areas: "a c c b" "a d e b" "a f g b "; }
  .SectionProductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 80px 283px 283px 283px 283px 100px;
    grid-template-areas: "a c c b" "a d e b" "a f g b" "a h i b" "a j k b"; }
  .SectionSobreNosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 370px 1fr;
    grid-template-rows: 90px auto auto auto auto 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b"; }
  .sectioncontacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 2fr 400px 2fr;
    grid-template-rows: 450px 140px 450px;
    grid-template-areas: "a c b" "a d b"; }
  .PreguntasFrecuentes {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 60px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    row-gap: 25px; } }

/* celular en horizontal y tablet en vertical */
@media only screen and (max-width: 950px) {
  .NavBottom {
    display: none; }
  .QuienesSomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 100px 100px 150px 283px 283px 283px 283px 50px;
    grid-template-areas: "a m b" "a c b" "a d b" "a e b" "a f b " "a g b" "a h b"; }
  img {
    width: 100%; }
  .Populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 100px 283px 283px 283px 283px 50px;
    grid-template-areas: "a c b" "a d b" "a e b " "a f b " "a g b "; }
  .SectionProductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 283px 1fr;
    grid-template-rows: 80px 283px 283px 283px 283px 100px;
    grid-template-areas: "a c c b" "a d e b" "a f g b" "a h i b" " a j k b "; }
  .SectionSobreNosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 100px auto auto auto auto 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b"; }
  .SectionContacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 2fr 350px 2fr;
    grid-template-rows: 450px 140px 450px;
    grid-template-areas: "a c b" "a d b"; }
  .PreguntasFrecuentes {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 60px 75px 75px 75px 75px 75px 75px 75px;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    row-gap: 10px; } }

/* este es el media para la pantalla de celular use 600px */
@media only screen and (max-width: 600px) {
  .DivTopLogo {
    width: 140px; }
  .Logo {
    width: 80px; }
  .QuienesSomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 100px 100px 150px 250px 250px 250px 250px 50px;
    grid-template-areas: "a m b" "a c b" "a d b" "a e b" "a f b" "a g b" "a h b"; }
  img {
    width: 100%; }
  .QuienesSomos2 {
    width: 250px;
    height: 250px; }
  .QuienesSomos3 {
    width: 250px;
    height: 250px; }
  .QuienesSomos4 {
    width: 250px;
    height: 250px; }
  .QuienesSomos5 {
    width: 250px;
    height: 250px; }
  .Populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 100px 283px 283px 283px 283px 50px;
    grid-template-areas: "a c b" "a d b" "a e b " "a f b " "a g b "; }
  .SectionProductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 50px 283px 283px 283px 283px 283px 283px 283px 283px 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b" "a h b" "a i b" "a j b" "a k b"; }
    .SectionProductos .ImgProductos1 {
      width: 283px;
      height: 283px; }
    .SectionProductos .ImgProductos2 {
      width: 283px;
      height: 283px; }
    .SectionProductos .ImgProductos3 {
      width: 283px;
      height: 283px; }
    .SectionProductos .ImgProductos4 {
      width: 283px;
      height: 283px; }
    .SectionProductos .ImgProductos5 {
      width: 283px;
      height: 283px; }
    .SectionProductos .ImgProductos6 {
      width: 283px;
      height: 283px; }
    .SectionProductos .ImgProductos7 {
      width: 283px;
      height: 283px; }
    .SectionProductos .ImgProductos8 {
      width: 283px;
      height: 283px; }
  .SectionSobreNosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 100px 250px 100px 150px 200px 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b";
    row-gap: 5px; }
  .SectionContacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 450px 140px 450px;
    grid-template-areas: "a c b" "a d b"; }
  .PreguntasFrecuentes {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 60px 85px 85px 95px 95px 95px 110px 85px;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    row-gap: 5px; } }

/* este es el media para los telefonos mas chiquitos menos de 420px */
@media only screen and (max-width: 420px) {
  .QuienesSomos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 100px 100px 150px 250px 250px 250px 250px 50px;
    grid-template-areas: "a m b" "a c b" "a d b" "a e b" "a f b" "a g b" "a h b"; }
  .QuienesSomos2 {
    width: 250px;
    height: 250px; }
  .QuienesSomos3 {
    width: 250px;
    height: 250px; }
  .QuienesSomos4 {
    width: 250px;
    height: 250px; }
  .QuienesSomos5 {
    width: 250px;
    height: 250px; }
  img {
    width: 100%; }
  .Populares {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 283px 1fr;
    grid-template-rows: 100px 283px 283px 283px 283px 50px;
    grid-template-areas: "a c b" "a d b" "a e b " "a f b " "a g b "; }
  .SectionProductos {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 210px 1fr;
    grid-template-rows: 50px 200px 200px 200px 200px 200px 200px 200px 200px 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b" "a h b" "a i b" "a j b" "a k b"; }
    .SectionProductos .ImgProductos1 {
      width: 200px;
      height: 200px; }
    .SectionProductos .ImgProductos2 {
      width: 200px;
      height: 200px; }
    .SectionProductos .ImgProductos3 {
      width: 200px;
      height: 200px; }
    .SectionProductos .ImgProductos4 {
      width: 200px;
      height: 200px; }
    .SectionProductos .ImgProductos5 {
      width: 200px;
      height: 200px; }
    .SectionProductos .ImgProductos6 {
      width: 200px;
      height: 200px; }
    .SectionProductos .ImgProductos7 {
      width: 200px;
      height: 200px; }
    .SectionProductos .ImgProductos8 {
      width: 200px;
      height: 200px; }
  .SectionSobreNosotros {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 100px 285px 100px 190px 250px 50px;
    grid-template-areas: "a c b" "a d b" "a e b" "a f b" "a g b";
    row-gap: 20px; }
  .SectionContacto {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 400px 140px 400px;
    grid-template-areas: "a c b" "a d b"; }
  .PreguntasFrecuentes {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 60px 110px 110px 110px 110px 110px 110px 110px;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    row-gap: 8px; }
  .DivLogo {
    display: none; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end; } }
