@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
$color-title: #E1DEE4;

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: $color-title;
}

h2 {
    text-align: center;
    color: $color-title;
}

.populares {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 25% 283px 283px 25% 2fr;
    grid-template-rows: 100px 283px 283px 50px;
    grid-template-areas: "a c c c c b""a n d e h b""a n f g h b ";
    .productospopulares {
        grid-area: c;
    }
    
    .productospopulares1 {
        grid-area: d;
    }
    
    .productospopulares2 {
        grid-area: e;
    }
    
    .productospopulares3 {
        grid-area: f;
    }
    
    .productospopulares4 {
        grid-area: g;
    }
}
    


h3 {
    color: $color-title;

}

p {
    color: white;
}

.nav {
    margin: 0px;
    text-align: right;

}

.divtoplogo {
    display: flex;
    align-items: center;
}


main {
    background-color: blue;
}


footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 150px;
    .navbottom {
        text-align: right;
        li:hover{
            color: red;
        }
    }
    li {
        color: white;
        width: auto;
        margin: 0px;
    }
    .UlContactoFooter{
        padding: 0%;
    }
    
}

.ulbottom {
    display: inline-block;
    height: 100%;
}

h4 {
    color: $color-title;
}



.divbottom {
    text-align: center;
}

.divtop {
    height: 190px;
}

.logo {
    width: 210px;
}

.divbottomlogo {
    display: flex;
    align-items: center;
}

.sectionsobrenosotros {
    display: grid;
    grid-template-columns: 1fr 400px 400px 1fr;
    grid-template-rows: 100px 300px 300px 50px;
    grid-template-areas: "a c c b""a d e b""a f g b";
    .h1sobrenosotros {
        grid-area: c;
    }
    
    .psobrenosotros1 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: d;
    }
    
    .psobrenosotros2 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: f;
    }
    
    .psobrenosotros3 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: e;
    }
    
    .psobrenosotros4 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: g;
    }
    
}
.sectionproductos {
    display: grid;
    grid-template-areas: "a c c c c b""a d e f g b""a h i j k b ";
    grid-template-columns: 1fr 1fr 283px 283px 1fr 1fr;
    grid-template-rows: 150px 283px 283px 150px;
    align-items: center;
    .productosimg {
        grid-area: c;
    }
    
    .imgproductos1 {
        grid-area: d;
    }
    
    .imgproductos2 {
        grid-area: e;
    }
    
    .imgproductos3 {
        grid-area: f;
    }
    
    .imgproductos4 {
        grid-area: g;
    }
    
    .imgproductos5 {
        grid-area: h;
    }
    
    .imgproductos6 {
        grid-area: i;
    }
    
    .imgproductos7 {
        grid-area: j;
    }
    
    .imgproductos8 {
        grid-area: k;
    }
}
h3 {
    font-family: 'Ubuntu', sans-serif;
}

.sectioncontacto {
    display: grid;
    grid-template-columns: 3fr 450px 3fr;
    grid-template-rows: 500px 140px 500px;
    grid-template-areas: "a c b""a d b";
    .h1contacto {
        grid-area: c;
    }
    .articlecontacto {
        grid-area: d;
    }
    
    input {
        width: 100%;
        margin: 2px;
    }
    
}
.preguntasfrecuentes {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-areas: "a""b""c""d""e""f""g";
    row-gap: 40px;
    align-items: center; 
}
.quienessomos {
    display: grid;
    grid-template-columns: 2fr 283px 283px 283px 283px 2fr;
    grid-template-areas: "a c c c c b""a m d d l b""a e f g h b ";
    grid-template-rows: 100px 150px 283px 50px;
    align-items: center;
    .quienessomos0 {
        grid-area: c;
    }
    
    .quienessomos1 {
        grid-area: d;
    }
    
    .quienessomos2 {
        grid-area: e;
    }
    
    .quienessomos3 {
        grid-area: f;
    }
    
    .quienessomos4 {
        grid-area: g;
    }
    
    .quienessomos5 {
        grid-area: h;
    }
}


/* tablet en horizontal */
@media only screen and (max-width: 1400px) {
    .quienessomos {
        display: grid;
        grid-template-columns: 1fr 283px 283px 1fr;
        grid-template-areas: "a c c b""a d d b""a e f b ""a g h b";
        grid-template-rows: 100px 150px 283px 283px 50px;
        align-items: center;
    }

    img {
        width: 100%;
    }
    .populares {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 283px 283px 1fr;
        grid-template-rows: 100px 283px 283px 50px;
        grid-template-areas: "a c c b ""a d e b ""a f g b ";
    }
    .navbottom {
        height: 140;
    }

    .navbottom {
        display: none;
    }

    .sectionproductos {
        display: grid;
        grid-template-areas: "a c c c b""a d m e b""a f m g b""a h m i b""a j m k b ";
        grid-template-columns: 1fr 283px 100px 283px 1fr;
        grid-template-rows: 150px 283px 283px 283px 283px 100px;
        align-items: center;

    }
    .sectionsobrenosotros {
        display: grid;
        grid-template-columns: 1fr 350px 350px 1fr;
        grid-template-rows: 150px 220px 200px 80px;
        grid-template-areas: "a c c b""a d e b""a f g b";
    }
    .sectioncontacto {
        display: grid;
        grid-template-columns: 2fr 400px 2fr;
        grid-template-rows: 450px 140px 450px;
        grid-template-areas: "a c b""a d b";
    }
    .preguntasfrecuentes {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 70px 70px 70px 70px 70px 70px 70px;
        grid-template-areas: "a""b""c""d""e""f""g";
        row-gap: 25px;
        align-items: center;
    }
}

/* celular en horizontal y tablet en vertical */
@media only screen and (max-width: 950px) {
    .quienessomos {
        display: grid;
        grid-template-columns: 1fr 283px 283px 1fr;
        grid-template-areas: "a c c b""a d d b""a e f b ""a g h b";
        grid-template-rows: 100px 150px 283px 283px 50px;
        align-items: center;
    }

    img {
        width: 100%;
    }
    .populares {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 283px 1fr;
        grid-template-rows: 100px 283px 283px 283px 283px 50px;
        grid-template-areas: "a c b""a d b""a e b ""a f b ""a g b ";
    }
    .navbottom {
        height: 140;
    }

    .navbottom {
        display: none;
    }

    .sectionproductos {
        display: grid;
        grid-template-areas: "a c c b""a d e b""a f g b""a h i b"" a j k b ";
        grid-template-columns: 1fr 283px 283px 1fr;
        grid-template-rows: 150px 283px 283px 283px 283px 100px;
        align-items: center;

    }
    .sectionsobrenosotros {
        display: grid;
        grid-template-columns: 1fr 300px 300px 1fr;
        grid-template-rows: 150px 220px 200px 80px;
        grid-template-areas: "a c c b""a d e b""a f g b";
        align-items: center;
    }
    .sectioncontacto {
        display: grid;
        grid-template-columns: 2fr 350px 2fr;
        grid-template-rows: 450px 140px 450px;
        grid-template-areas: "a c b""a d b";
    }
    .preguntasfrecuentes {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 75px 75px 75px 75px 75px 75px 75px;
        grid-template-areas: "a""b""c""d""e""f""g";
        row-gap: 10px;
        align-items: center;
    }
}

/* este es el media para la pantalla de celular use 600px */
@media only screen and (max-width: 600px) {
    .divtoplogo {
        width: 140px;
    }

    .logo {
        width: 80px;
    }

    .quienessomos {
        display: grid;
        grid-template-columns: 1fr 200px 200px 1fr;
        grid-template-areas: "a c c b""a d d b""a e f b ""a g h b";
        grid-template-rows: 100px 150px 200px 200px 50px;
        align-items: center;
    }

    img {
        width: 100%;
    }
    .quienessomos2 {
        width: 200px;
        height: 200px;
    }

    .quienessomos3 {
        width: 200px;
        height: 200px;
    }

    .quienessomos4 {
        width: 200px;
        height: 200px;
    }

    .quienessomos5 {
        width: 200px;
        height: 200px;
    }

    .populares {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 283px 1fr;
        grid-template-rows: 100px 283px 283px 283px 283px 50px;
        grid-template-areas: "a c b""a d b""a e b ""a f b ""a g b ";
    }
    .navbottom {
        height: 140;
    }

    .navbottom {
        display: none;
    }

    .sectionproductos {
        display: grid;
        grid-template-areas: "a c c b""a d e b""a f g b""a h i b"" a j k b ";
        grid-template-columns: 1fr 200px 200px 1fr;
        grid-template-rows: 150px 200px 200px 200px 200px 100px;
        align-items: center;

    }
    .imgproductos1 {
        width: 200px;
        height: 200px;
    }

    .imgproductos2 {
        width: 200px;
        height: 200px;
    }

    .imgproductos3 {
        width: 200px;
        height: 200px;
    }

    .imgproductos4 {
        width: 200px;
        height: 200px;
    }

    .imgproductos5 {
        width: 200px;
        height: 200px;
    }

    .imgproductos6 {
        width: 200px;
        height: 200px;
    }

    .imgproductos7 {
        width: 200px;
        height: 200px;
    }

    .imgproductos8 {
        width: 200px;
        height: 200px;
    }

    .sectionsobrenosotros {
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: 100px 220px 100px 150px 200px 50px;
        grid-template-areas: "a c b""a d b""a e b""a f b""a g b";
        row-gap: 5px ;
    }
    .sectioncontacto {
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
        grid-template-rows: 450px 140px 450px;
        grid-template-areas: "a c b""a d b";
    }
    .preguntasfrecuentes {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 85px 85px 95px 95px 85px 85px 85px;
        grid-template-areas: "a""b""c""d""e""f""g";
        row-gap: 5px;
        align-items: center;
    }
}

/* este es el media para los telefonos mas chiquitos menos de 420px */
@media only screen and (max-width: 420px) {
    .nav {
        margin: 0px;
        text-align: center;

    }

    .quienessomos {
        display: grid;
        grid-template-columns: 1fr 170px 170px 1fr;
        grid-template-areas: "a c c b""a d d b""a e f b""a g h b";
        grid-template-rows: 100px 150px 170px 170px 50px;
        align-items: center;
    }
    .quienessomos2 {
        width: 170px;
        height: 170px;
    }

    .quienessomos3 {
        width: 170px;
        height: 170px;
    }

    .quienessomos4 {
        width: 170px;
        height: 170px;
    }

    .quienessomos5 {
        width: 170px;
        height: 170px;
    }

    img {
        width: 100%;
    }
    .populares {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 283px 1fr;
        grid-template-rows: 100px 283px 283px 283px 283px 50px;
        grid-template-areas: "a c b""a d b""a e b ""a f b ""a g b ";
    }
    .navbottom {
        height: 140;
    }

    .navbottom {
        display: none;
    }

    .sectionproductos {
        display: grid;
        grid-template-areas: "a c c b""a d e b""a f g b""a h i b"" a j k b ";
        grid-template-columns: 1fr 180px 180px 1fr;
        grid-template-rows: 150px 180px 180px 180px 180px 100px;
        align-items: center;

    }
    .imgproductos1 {
        width: 180px;
        height: 180px;
    }

    .imgproductos2 {
        width: 180px;
        height: 180px;
    }

    .imgproductos3 {
        width: 180px;
        height: 180px;
    }

    .imgproductos4 {
        width: 180px;
        height: 180px;
    }

    .imgproductos5 {
        width: 180px;
        height: 180px;
    }

    .imgproductos6 {
        width: 180px;
        height: 180px;
    }

    .imgproductos7 {
        width: 180px;
        height: 180px;
    }

    .imgproductos8 {
        width: 180px;
        height: 180px;
    }

    .sectionsobrenosotros {
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: 100px 220px 100px 150px 200px 50px;
        grid-template-areas: "a c b""a d b""a e b""a f b""a g b";
        row-gap: 8px ;
    }
    .sectioncontacto {
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: 400px 140px 400px;
        grid-template-areas: "a c b""a d b";
    }
    .preguntasfrecuentes {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 110px 110px 110px 110px 110px 110px 110px;
        grid-template-areas: "a""b""c""d""e""f""g";
        row-gap: 0px;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        justify-content: flex-end;
    }
}