@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
$color-title: white;

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: $color-title;
}

h2 {
    text-align: center;
    color: $color-title;
}

@mixin grids($display, $align, $colums, $rows, $areas) {
    display: $display;
    align-items: $align;
    grid-template-columns: $colums;
    grid-template-rows: $rows;
    grid-template-areas: $areas;
}

.Populares {
    @include grids(grid, center, 2fr 25% 283px 283px 25% 2fr, 100px 283px 283px 50px, "a c c c c b""a n d e h b""a n f g h b ");

    .ProductosPopulares {
        grid-area: c;
    }

    .ProductosPopulares1 {
        grid-area: d;
    }

    .ProductosPopulares2 {
        grid-area: e;
    }

    .ProductosPopulares3 {
        grid-area: f;
    }

    .ProductosPopulares4 {
        grid-area: g;
    }
    row-gap: 5px;
    column-gap: 5px;
}



h3 {
    color: $color-title;

}

p {
    color: white;
}

.DivTopLogo {
    display: flex;
    align-items: center;
}

main {
    background-image: url(../imagenes/fondo2.jpg);
    background-size: 100%;
}

footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 150px;

    .NavBottom {
        text-align: right;

        li:hover {
            color: red;
        }
    }

    li {
        color: white;
        width: auto;
        margin: 0px;
    }

    .UlContactoFooter {
        padding: 0%;
    }

}

.UlBottom {
    display: inline-block;
    height: 100%;
}

h4 {
    color: $color-title;
}



.DivBottom {
    text-align: center;
}


.Logo {
    width: 210px;
}

.DivBottomLogo {
    display: flex;
    align-items: center;
}

.SectionSobreNosotros {
    @include grids(grid, center, 1fr 400px 1fr, 50px auto auto auto auto 50px, "a c b""a d b""a e b""a f b""a g b");
    row-gap: 10px;

    .h1SobreNosotros {
        grid-area: c;
    }

    .PSobreNosotros1 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: d;
    }

    .PSobreNosotros2 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: f;
    }

    .PSobreNosotros3 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: e;
    }

    .PSobreNosotros4 {
        font-family: 'Ubuntu', sans-serif;
        grid-area: g;
    }

}

.SectionProductos {
    @include grids(grid, center, 1fr 283px 283px 283px 283px 1fr, 80px 283px 283px 150px, "a c c c c b""a d e f g b""a h i j k b ");
    row-gap: 5px;
    column-gap: 5px;

    .ProductosImg {
        grid-area: c;
        padding-bottom: 20px;
    }

    .ImgProductos1 {
        grid-area: d;
    }

    .ImgProductos2 {
        grid-area: e;
    }

    .ImgProductos3 {
        grid-area: f;
    }

    .ImgProductos4 {
        grid-area: g;
    }

    .ImgProductos5 {
        grid-area: h;
    }

    .ImgProductos6 {
        grid-area: i;
    }

    .ImgProductos7 {
        grid-area: j;
    }

    .ImgProductos8 {
        grid-area: k;
    }
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

.SectionContacto {
    @include grids(grid, baseline, 3fr 450px 3fr, 500px 140px 500px, "a c b""a d b");

    .h1Contacto {
        grid-area: c;
    }

    .ArticleContacto {
        grid-area: d;
    }

    input {
        width: 100%;
        margin: 2px;
    }

}

.PreguntasFrecuentes {
    @include grids(grid, center, 100%, 60px 70px 70px 70px 70px 70px 70px 70px, "a""b""c""d""e""f""g");
    row-gap: 40px;
    text-align: center
}

.QuienesSomos {
    @include grids(grid, center, 2fr 283px 283px 283px 283px 2fr, 100px 150px 283px 50px, "a c c c c b""a m d d l b""a e f g h b ");
    row-gap: 5px;
    column-gap: 5px;
    .QuienesSomos0 {
        grid-area: c;
    }

    .QuienesSomos1 {
        grid-area: d;
    }

    .QuienesSomos2 {
        grid-area: e;
    }

    .QuienesSomos3 {
        grid-area: f;
    }

    .QuienesSomos4 {
        grid-area: g;
    }

    .QuienesSomos5 {
        grid-area: h;
    }
}


/* tablet en horizontal */
@media only screen and (max-width: 1400px) {
    .QuienesSomos {
        @include grids(grid, center, 1fr 283px 283px 1fr, 100px 150px 283px 283px 50px, "a c c b""a d d b""a e f b ""a g h b");
    }

    img {
        width: 100%;
        height: 100%;
    }

    .Populares {
        @include grids(grid, center, 1fr 283px 283px 1fr, 100px 283px 283px 50px, "a c c b""a d e b""a f g b ");
    }

    .SectionProductos {
        @include grids(grid, center, 1fr 283px 283px 1fr, 80px 283px 283px 283px 283px 100px, "a c c b""a d e b""a f g b""a h i b""a j k b");
    }

    .SectionSobreNosotros {
        @include grids(grid, baseline, 1fr 370px 1fr, 50px auto auto auto auto 50px, "a c b""a d b""a e b""a f b""a g b");
    }

    .sectioncontacto {
        @include grids(grid, baseline, 2fr 400px 2fr, 450px 140px 450px, "a c b""a d b");
    }

    .PreguntasFrecuentes {
        @include grids(grid, center, 100%, 60px 70px 70px 70px 70px 70px 70px 70px, "a""b""c""d""e""f""g");
        row-gap: 25px;
    }
}
.nav-item:hover{
    background-color: red;
}
/* celular en horizontal y tablet en vertical */
@media only screen and (max-width: 950px) {
    .NavBottom {
        display: none;
    }

    .QuienesSomos {
        @include grids(grid, center, 1fr 283px 1fr, 100px 150px 283px 283px 283px 283px 50px, "a c b""a d b""a e b""a f b ""a g b""a h b");
    }

    img {
        width: 100%;
    }

    .Populares {
        @include grids(grid, center, 1fr 283px 1fr, 100px 283px 283px 283px 283px 50px, "a c b""a d b""a e b ""a f b ""a g b ");
    }

    .SectionProductos {
        @include grids(grid, center, 1fr 283px 283px 1fr, 80px 283px 283px 283px 283px 100px, "a c c b""a d e b""a f g b""a h i b"" a j k b ");
    }

    .SectionSobreNosotros {
        @include grids(grid, baseline, 1fr 300px 1fr,100px auto auto auto auto 50px, "a c b""a d b""a e b""a f b""a g b");
    }

    .SectionContacto {
        @include grids(grid, baseline, 2fr 350px 2fr, 450px 140px 450px, "a c b""a d b");
    }

    .PreguntasFrecuentes {
        @include grids(grid, center, 100%, 60px 75px 75px 75px 75px 75px 75px 75px, "a""b""c""d""e""f""g");
        row-gap: 10px;
    }
}

/* este es el media para la pantalla de celular use 600px */
@media only screen and (max-width: 600px) {
    .DivTopLogo {
        width: 140px;
    }

    .Logo {
        width: 80px;
    }

    .QuienesSomos {
        @include grids(grid, center, 1fr 250px 1fr, 100px 150px 250px 250px 250px 250px 50px, "a c b""a d b""a e b""a f b""a g b""a h b");
    }

    img {
        width: 100%;
    }

    .QuienesSomos2 {
        width: 250px;
        height: 250px;
    }

    .QuienesSomos3 {
        width: 250px;
        height: 250px;
    }

    .QuienesSomos4 {
        width: 250px;
        height: 250px;
    }

    .QuienesSomos5 {
        width: 250px;
        height: 250px;
    }

    .Populares {
        @include grids(grid, center, 1fr 283px 1fr, 100px 283px 283px 283px 283px 50px, "a c b""a d b""a e b ""a f b ""a g b ");
    }

    .SectionProductos {
    @include grids(grid, center, 1fr 283px 1fr, 50px 283px 283px 283px 283px 283px 283px 283px 283px 50px, "a c b""a d b""a e b""a f b""a g b""a h b""a i b""a j b""a k b");

    .ImgProductos1 {
        width: 283px;
        height: 283px;
    }

    .ImgProductos2 {
        width: 283px;
        height: 283px;
    }

    .ImgProductos3 {
        width: 283px;
        height: 283px;
    }

    .ImgProductos4 {
        width: 283px;
        height: 283px;
    }

    .ImgProductos5 {
        width: 283px;
        height: 283px;
    }

    .ImgProductos6 {
        width: 283px;
        height: 283px;
    }

    .ImgProductos7 {
        width: 283px;
        height: 283px;
    }

    .ImgProductos8 {
        width: 283px;
        height: 283px;
    }
    }

    .SectionSobreNosotros {
        @include grids(grid, baseline, 1fr 300px 1fr, 100px 250px 100px 150px 200px 50px, "a c b""a d b""a e b""a f b""a g b");
        row-gap: 5px;
    }

    .SectionContacto {
        @include grids(grid, baseline, 1fr 350px 1fr, 450px 140px 450px, "a c b""a d b");
    }

    .PreguntasFrecuentes {
        @include grids(grid, center, 100%, 60px 85px 85px 95px 95px 95px 110px 85px, "a""b""c""d""e""f""g");
        row-gap: 5px;
    }
}

/* este es el media para los telefonos mas chiquitos menos de 420px */
@media only screen and (max-width: 420px) {
    .QuienesSomos {
        @include grids(grid, center, 1fr 250px 1fr, 100px 150px 250px 250px 250px 250px 50px, "a c b""a d b""a e b""a f b""a g b""a h b");
    }

    .QuienesSomos2 {
        width: 250px;
        height: 250px;
    }

    .QuienesSomos3 {
        width: 250px;
        height: 250px;
    }

    .QuienesSomos4 {
        width: 250px;
        height: 250px;
    }

    .QuienesSomos5 {
        width: 250px;
        height: 250px;
    }

    img {
        width: 100%;
    }

    .Populares {
        @include grids(grid, center, 1fr 283px 1fr, 100px 283px 283px 283px 283px 50px, "a c b""a d b""a e b ""a f b ""a g b ");
    }

    .SectionProductos {
        @include grids(grid, center, 1fr 210px 1fr, 50px 200px 200px 200px 200px 200px 200px 200px 200px 50px, "a c b""a d b""a e b""a f b""a g b""a h b""a i b""a j b""a k b");

    .ImgProductos1 {
        width: 200px;
        height: 200px;
    }

    .ImgProductos2 {
        width: 200px;
        height: 200px;
    }

    .ImgProductos3 {
        width: 200px;
        height: 200px;
    }

    .ImgProductos4 {
        width: 200px;
        height: 200px;
    }

    .ImgProductos5 {
        width: 200px;
        height: 200px;
    }

    .ImgProductos6 {
        width: 200px;
        height: 200px;
    }

    .ImgProductos7 {
        width: 200px;
        height: 200px;
    }

    .ImgProductos8 {
        width: 200px;
        height: 200px;
    }
    }
    .SectionSobreNosotros {
        @include grids(grid, baseline, 1fr 250px 1fr, 100px 285px 100px 190px 250px 50px, "a c b""a d b""a e b""a f b""a g b");
        row-gap: 20px;
    }

    .SectionContacto {
        @include grids(grid, baseline, 1fr 300px 1fr, 400px 140px 400px, "a c b""a d b");
    }

    .PreguntasFrecuentes {
        @include grids(grid, center, 100%, 60px 110px 110px 110px 110px 110px 110px 110px, "a""b""c""d""e""f""g");
        row-gap: 0px;
    }

    .DivLogo {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        justify-content: flex-end;
    }
}